
<h3><%= @article.title %></h3>
Filed under:
<p>
<% @article.categories.each do |c| %>

<%= link_to c.name, category_path(c) %>

<% end %>

</p>
<%= link_to "Edit Article", edit_article_path %>
<p><%= @article.content %></p>
